<ng-include src="'templates/jumboheader.html'"></ng-include>
<div ng-controller="ContactController">
  <form ng-show="data.visible" role="form" name="ContactForm">
    <fieldset>
      <div class="form-group">
        <label for="contactEmail">Email address:</label>
        <input type="email" ng-model="contacts.email" class="form-control" required id="contactEmail">
      </div>
      <div class="form-group">
        <label for="contactPhone">Phone number:</label>
        <input type="tel" ng-model="contacts.phone" class="form-control" required id="contactPhone">
      </div>
    </fieldset>
    <div class="form-group ">
     <button type="reset" class="btn btn-default btn-block">Reset</button>
     <button type="submit" class="btn btn-default btn-block" ng-click="save(contacts, ContactForm)">Submit</button>
    </div>
  </form>
  <div ng-hide="data.visible" class="panel panel-success">
    <div class="panel-body text-center "><p>{{res}}</p></div>
  </div>
</div>
